{% load static%}

<html>
<link rel ="stylesheet" href="{% static 'dg.css'%}" >

<body>

<form action="" method="post">
<h1>Feedback </h1>
<h2>********</h2>
  {%csrf_token%}
<input type="text"  placeholder="Enter your Name" name="name2"><br/><br/>
      
<input type="text"placeholder="Enter your Email"name="email2"><br/><br/>

<textarea rows="5" cols="21" placeholder="Enter Message Here...."name="message"></textarea><br/><br/>

<input type ="submit" value="SEND"><br/><br/>

<input type ="Reset" value="RESET"><br/><br/>

</form>
</body>
</html>