{% load static%}

<html>
<link rel ="stylesheet" href="{% static 'dg.css'%}" >

<body>

<form action="" method="POST">
  {%csrf_token%}
<h1>Feedback </h1>
<h2>********</h2>
<input type="text"  placeholder="Enter your Name" name="name2" value="{{p.feedname}}"><br/><br/>
      
<input type="text"placeholder="Enter your Email" name="email2"><br/><br/>

<textarea rows="5" cols="21" placeholder="Enter Message Here...." name="message"></textarea><br/><br/>

<input type ="submit" value="SEND"><br/><br/>


<input type="submit" value="Review_check" formaction="http://127.0.0.1:8000/review">
</form>
</body>
</html>