{%load static%}

<html>



<body>
<form action="">
<input type="submit" value="description" formaction="http://127.0.0.1:8000/product">
<right><input type="submit" value="Order" formaction="http://127.0.0.1:8000/order"> </right>
<table border=1>

<tr align="center">
<td >

<img src ="{% static 'img.jpg'%}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '01' %}
product_code: {{p.product_Id}}<br/>
Product_name: {{p.Product_name}}<br/>
description: {{p.description}}<br/>
      stock: {{p.Stock}}<br/>
       price: {{ p.Price}}
      {% endif %}
    {%endfor%}


</td>
<td>
<img src ="{% static 'img8.jpg'%}" width="200" height="200"><br/> <br>
    {% for p in post %}
      {% if p.product_Id == '02' %}
product_code:{{p.product_Id}}<br/>
Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}<br/>
      {% endif %}
    {%endfor%}

</td>
<td>
<img src ="{% static 'img1.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '03' %}
product_code:{{p.product_Id}}<br/>
Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static 'img7.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '04' %}
product_code:{{p.product_Id}}<br/>
Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static 'img5.jpg'%}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '05' %}
product_code:{{p.product_Id}}<br/>
Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static 'img6.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '06' %}
product_code: {{p.product_Id}}<br/>
 Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td></tr>
<tr align="center">
<td>
<img src ="{% static '1.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '07' %}
product_code:{{p.product_Id}}<br/>
 Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static '2.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '08' %}
product_code:{{p.product_Id}}<br/>
 Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static '3.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '09' %}
product_code:{{p.product_Id}}<br/>
Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static '4.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '10' %}
product_code:{{p.product_Id}}<br/>
Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
 <td>
<img src ="{% static '5.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '11' %}
product_code:{{p.product_Id}}<br/>
Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
    <td>
<img src ="{% static '6.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '12' %}
product_code:{{p.product_Id}}<br/>
Product_name:{{p.Product_name}}<br/>
description:{{p.description}}<br/>
      stock:{{p.Stock}}<br/>
       price:{{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
</tr>
</table>

</form>
</body>
</html>
