{%load static%}

<html>

<body>
<form action="">
<table border=1>

<tr align="center">
<td >

<img src ="{% static 'img.jpg'%}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '01' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static 'img8.jpg'%}" width="200" height="200"><br/> <br>
    {% for p in post %}
      {% if p.product_Id == '02' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}

</td>
<td>
<img src ="{% static 'img1.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '03' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static 'img7.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '04' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static 'img5.jpg'%}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '05' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static 'img6.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '06' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td></tr>
<tr align="center">
<td>
<img src ="{% static '1.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '07' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static '2.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '08' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static '3.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '09' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
<td>
<img src ="{% static '4.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '10' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
 <td>
<img src ="{% static '5.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '11' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
    <td>
<img src ="{% static '6.jpg' %}" width="200" height="200"><br/>
    {% for p in post %}
      {% if p.product_Id == '12' %}
           {{p.product_Id}}<br/>
           {{p.Product_name}}<br/>
           {{p.description}}<br/>
           {{p.Stock}}<br/>
           {{ p.Price}}
      {% endif %}
    {%endfor%}
</td>
</tr>
</table>

</form>
</body>
</html>
