

{% load static %}
<html>
<link rel ="stylesheet" href="{% static 'image.css'%}">

<body>
<h1> Register Form</h1>
<form action="register" method="POST">
 {% csrf_token %}

 <input type="text" placeholder="name1" name="name1"><br/><br/>
 <input type="text" placeholder="email1"  name="email1"><br/><br/>
 <input type="password"placeholder ="password1" name="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Incorrect"><br/><br/>
 <input type="password"placeholder ="Phn" name="phn"><br/><br/>
 <input type="submit"  value="signup">
</form>




<script src="c.js"></script>

</body>
</html>
